#changeColorsBox {

    width: 200px;
    height: 200px;

}

.buttonColors button{
    width: 30px;
    height: 20px;
}
.fontColor button{
    width: 30px;
    height: 20px;
}
.buttonColors #q{

    background-color: #fc0808;
}
.buttonColors #w{

    background-color: #ffcc05;
}
.buttonColors #e{

    background-color: #08ecf3;
}
.buttonColors #r{

    background-color: #12ff00;
}
.buttonColors #t{
    background-color: #077cff;
}
.buttonColors #y{
    background-color: #054cff;
}
.buttonColors #u{
    background-color: #be08fd;
}

.fontColor #fontColorQ{
    background-color: #070101;
}

.fontColor #fontColorW{
    background-color: #12ff00;
}
.fontColor #fontColorE{
    background-color: #fc0808;
}
.fontColor #fontColorR{
    background-color: #f7ff0e;
}
.fontColor #fontColorT{
    background-color: #001496;
}
#fontColorY{
    background-color: #805100;
}
#fontColorU{
    background-color: #eb05fa;
}





